@CHARSET "UTF-8";

[id*='delete']{
	display:inline-block;
}
[id*='today']{
	display:inline-block;
}
.delete{
	display:inline-block;
}

#pageNcriteria{
	position:relative;
}

#pagination{
	position:relative;

}

#criteria{
	position:relative;
	left:80%;
}

[id*='Chk']{
	display:inline-block;
}

table{
	width:90%;
	vertical-align: middle;
}

input{
	margin:5px;
	display:inline-block;
}

/* style1 */	
[id*='style1'], [id*='style1'] th,[id*='style1'] td {
	border: black 1px solid;
	border-collapse: collapse;
	}
	
[id*='style1'] th,[id*='style1'] td {
		padding: 5px;
	}
[id*='style1'] th{
	width:150px;
	text-align: center;
	background-color:#81b8d5;
	}
	
/* style2 */	
[id*='style2'], [id*='style2'] th,[id*='style2'] td {
	border: black 1px solid;
	border-collapse: collapse;
	}
	
[id*='style2'] th,[id*='style2'] td {
		padding: 5px;
	}
[id*='style2'] th{
	width:150px;
	text-align: center;
	background-color:#1792d0;
	}
	
/* style3 */	
[id*='style3'], [id*='style3'] th,[id*='style3'] td {
	border: black 1px solid;
	border-collapse: collapse;
	}
	
[id*='style3'] th,[id*='style3'] td {
		padding: 5px;
	}
[id*='style3'] th{
	width:auto;
	text-align: center;
	background-color:#1792d0;
	}	
	
[id*='part']{
	margin:10px;
}

/* 저장버튼 스타일 */
[id*='btn']{
	display:inline-block;
	margin: 10px auto 10px auto;
	position: relative;
}

[id*='button']{
	text-size:20px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	background-color:#1792d0;
}

