<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nderp2.mapper.StaffMapper">
	<select id="getCurrentStaffNo" resultType="Integer">
		select max(staff_no) from staff
	</select>

	<select id="getCurrentInstNo" resultType="Integer">
		select max(staff_institution_no) from staff_institution
	</select>
	
	<select id="getCurrentProjectNo" resultType="Integer">
		select max(staff_project_no) from staff_project
	</select>

	<select id="getCurrentTasteNo" resultType="Integer">
		select max(staff_taste_no) from staff_taste
	</select>
	
	<insert id="createStaff">
		insert into Staff values
			(staff_seq.nextval, #{staff_id}, #{staff_pw}, #{staff_name}, #{staff_id_no}, #{staff_hp}, #{staff_email},#{staff_religion},#{staff_military},#{staff_address},#{staff_zipcode})
	</insert>
	
	<insert id="insertHotline">
		insert into staff_Hotline values
			(staff_Hotline_seq.nextval,#{staff_no},#{hotline_code},#{hotline_name},#{hotline_hp} )
	</insert>
	
	<insert id="insertBank">
		insert into staff_Bank values
			(staff_Bank_seq.nextval,#{staff_no}, #{bank_code})
	</insert>
	
	<insert id="insertSchool">
		insert into staff_School values
			(staff_School_seq.nextval,#{staff_no}, #{college_code},#{school_name},#{school_major},#{school_sub},#{school_graduateday},#{education_code})
	</insert>
	
	<insert id="insertFamily">
		insert into staff_Family values
			(staff_Family_seq.nextval,#{staff_no}, #{family_code}, #{family_name}, #{family_job}, #{family_birthy},#{family_livew})
	</insert>
	
	<insert id="insertCareer">
		insert into staff_Career values
			(staff_Career_seq.nextval,#{staff_no},#{career_Hired},#{career_position},#{career_department},#{career_code},#{career_name},#{career_desc},#{career_salary},#{career_hireday},#{career_retireday})
	</insert>
	
	<insert id="insertCertification">
		insert into staff_Certification values
			(staff_Certification_seq.nextval,#{staff_no},#{certification_code})
	</insert>
	
	<insert id="insertForeignlang">
		insert into staff_Foreignlang values
			(staff_Foreignlang_seq.nextval,#{staff_no},#{foreignlang_code},#{foreignlang_type} )
	</insert>
	
	<insert id="insertInstitution">
		insert into staff_Institution values
			(staff_Institution_seq.nextval,#{staff_no},#{institution_name}, #{institution_period},#{institution_grad})
	</insert>
	
	<insert id="insertInstStack">
		insert into institution_stack values
			(institution_stack_seq.nextval, #{institution_stack_code}, #{institution_no})
	</insert>
	
	<insert id="insertTaste">
		insert into staff_Taste values
			(staff_Taste_seq.nextval,#{staff_no}, #{smoking_code},#{beer_code},#{soju_code},#{interest_code})
	</insert>
	
	<insert id="insertTasteInterest">
		insert into taste_interest values
			(taste_interest_seq.nextval, #{taste_interest_code}, #{taste_no})
	</insert>
	
	<insert id="insertHobby">
		insert into staff_Hobby values
			(staff_Hobby_seq.nextval,#{staff_no},#{hobby} )
	</insert>
	
	<insert id="insertProject">
		insert into staff_Project values
			(staff_Project_seq.nextval,#{staff_no},#{role_code},#{project_startday},#{project_endday},#{project_customer},#{project_company},#{project_name})
	</insert>
	
	<insert id="insertRole">
		insert into project_role values
		(project_role_seq.nextval,#{staff_project_no}, #{project_role})
	</insert>
	
	<insert id="insertDbms">
		insert into project_Dbms values
			(project_Dbms_seq.nextval, #{staff_project_no},#{project_Dbms})
	</insert>
	
	<insert id="insertDevetc">
		insert into project_Devetc values
			(project_Devetc_seq.nextval, #{staff_project_no},#{project_Devetc})
	</insert>
		
	<insert id="insertFramework">
		insert into project_Framework values
			(project_Framework_seq.nextval, #{staff_project_no},#{project_Framework})
	</insert>
		
	<insert id="insertLanguage">
		insert into project_Language values
			(project_Language_seq.nextval, #{staff_project_no},#{project_Language})
	</insert>
		
	<insert id="insertOs">
		insert into project_Os values
			(project_Os_seq.nextval, #{staff_project_no},#{project_Os})
	</insert>
		
	<insert id="insertServer">
		insert into project_Server values
			(project_Server_seq.nextval, #{staff_project_no},#{project_Server})
	</insert>

</mapper>